.simple-player-container {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:transparent !important;
}
.simple-player-container > div > ul {
    margin: 0;
    padding-left: 0;
}
.simpleplayer-play-control {
    background-image: url('images/play.png');
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 45px;
    bottom: -5px;
    position: relative;
    cursor: pointer;
}
.simpleplayer-play-control:hover {
    background-image: url('images/playing.png');
}
.simpleplayer-stop-control {
    background-image: url('images/stop.png');
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 45px;
    bottom: -5px;
    position: relative;
    cursor: pointer;
}
.simpleplayer-stop-control:hover {
    background-image: url('images/stoped.png');
}
